@media (min-width: 768px) {
  header {
    grid-template-columns: 30% 70%;
  }

  nav {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: auto;
  }

  nav > a {
    margin: 2% 1% 1%;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid rgb(247, 243, 243);
  }

  .has-border {
    border-radius: 5px;
    padding: 5px;
  }

  .logo {
    width: 40%;
    height: 100%;
    margin: 1% 5%;
  }

  #profile-pic {
    width: 250px;
    height: 250px;
    align-self: center;
    padding-bottom: 0px;
  }

  h2 {
    margin: 1% 1%;
    text-align: center;
  }

  h1 {
    margin: 3% 1%;
    text-align: center;
  }

  button {
    font-size: 15px;
    background: transparent;
    padding: 5px;
    letter-spacing: 2px;
  }
}

/*
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
  }

  nav {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: auto;
  }

  nav > a {
    margin: 2% 1% 1%;
    height: 10%;
    width: 15%;
    color: rgb(250, 249, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 20px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(247, 243, 243);
  }

  .has-border {
    border-radius: 5px;
    border: 2px solid rgb(245, 249, 250);
    background: none;
    padding: 5px;
  }

  .logo {
    width: 40%;
    height: 100%;
    margin: 1% 5%;
  }

  #profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
    align-self: center;
    padding-bottom: 0px;
  }

  h2 {
    grid-column: 2/3;
    margin: 1% 1%;
    font-style: italic;
    text-align: center;
  }

  h1 {
    color: rgb(8, 8, 8);
    grid-column: 2/3;
    margin: 3% 1%;
    border-bottom: 2px solid #1940a9;
    text-align: center;
  }

  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background: transparent;
    padding: 5px;
    padding-bottom: 5%;
    text-align: center;
    color: rgb(8, 8, 8);
    letter-spacing: 2px;
    font-style: italic;
  }
}
*/
